<div id="content-panel-app">
    <!-- helper to load the libs uncomment for dev
        <script src="js/lib/IncludeScriptsHelper.js"></script>-->

    <script src="/ContentPanels/js/contentPanelApp.js"></script>
    <script src="/ContentPanels/js/contentPanelControllers.js"></script>
    <div class="content-panel" data-ng-controller="RootContentPanelCtrl">
        <hr />
        <!-- large -->
        <div class="visible-lg">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 pod-1 js-clickable"
                     data-ng-click="setPageActive(0, 0);"
                     data-ng-class="{'active': active[0]}">
                    <div data-ng-controller="PanelCtrl"
                         data-ng-include="'/ContentPanels/Partials/Panel.html'"
                         data-ng-init="index = 0"></div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 pod-2 js-clickable"
                     data-ng-click="setPageActive(1, 1);"
                     data-ng-class="{'active': active[1]}">
                    <div data-ng-controller="PanelCtrl"
                         data-ng-include="'/ContentPanels/Partials/Panel.html'"
                         data-ng-init="index = 1"></div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 pod-3 js-clickable"
                     data-ng-click="setPageActive(2, 2);"
                     data-ng-class="{'active': active[2]}">
                    <div data-ng-controller="PanelCtrl"
                         data-ng-include="'/ContentPanels/Partials/Panel.html'"
                         data-ng-init="index = 2"></div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 pod-4 js-clickable"
                     data-ng-click="setPageActive(3, 3);"
                     data-ng-class="{'active': active[3]}">
                    <div data-ng-controller="PanelCtrl"
                         data-ng-include="'/ContentPanels/Partials/Panel.html'"
                         data-ng-init="index = 3"></div>
                </div>
            </div>
            <div id="contentPodInfo-0" class="info-panel" data-ng-if="showPage[0]">
                <div class="content-page row rowMargin info-details"
                     data-ng-controller="PodCtrl"
                     data-ng-init="initPod(0)">
                    <div class="col-lg-offset-2 col-lg-8 col-md-12 col-sm-12 col-xs-12"
                         data-ng-cloak="true"
                         data-ng-include="'/ContentPanels/Partials/' + pods[0].template"></div>
                </div>
            </div>
            <div id="contentPodInfo-1" class="info-panel" data-ng-if="showPage[1]">
                <div class="content-page row rowMargin info-details"
                     data-ng-controller="PodCtrl"
                     data-ng-init="initPod(1)">
                    <div class="col-lg-offset-2 col-lg-8 col-md-12 col-sm-12 col-xs-12"
                         data-ng-cloak="true"
                         data-ng-include="'/ContentPanels/Partials/' + pods[1].template"></div>
                </div>
            </div>
            <div id="contentPodInfo-2" class="info-panel" data-ng-if="showPage[2]">
                <div class="content-page row rowMargin info-details"
                     data-ng-controller="PodCtrl"
                     data-ng-init="initPod(2)">
                    <div class="col-lg-offset-2 col-lg-8 col-md-12 col-sm-12 col-xs-12"
                         data-ng-cloak="true"
                         data-ng-include="'/ContentPanels/Partials/' + pods[2].template"></div>
                </div>
            </div>
            <div id="contentPodInfo-3" class="info-panel" data-ng-if="showPage[3]">
                <div class="content-page row rowMargin info-details last"
                     data-ng-controller="PodCtrl"
                     data-ng-init="initPod(3)">
                    <div class="col-lg-offset-2 col-lg-8 col-md-12 col-sm-12 col-xs-12"
                         data-ng-cloak="true"
                         data-ng-include="'/ContentPanels/Partials/' + pods[3].template"></div>
                </div>
            </div>
        </div>
        <!-- end lg -->
        <!-- med/sm -->
        <div class="hidden-lg hidden-xs">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 pod-1 js-clickable"
                     data-ng-click="setPageActive(0, 4);"
                     data-ng-class="{'active': active[0]}">
                    <div data-ng-controller="PanelCtrl"
                         data-ng-include="'/ContentPanels/Partials/Panel.html'"
                         data-ng-init="index = 0"></div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 pod-2 js-clickable"
                     data-ng-click="setPageActive(1, 5);"
                     data-ng-class="{'active': active[1]}">
                    <div data-ng-controller="PanelCtrl"
                         data-ng-include="'/ContentPanels/Partials/Panel.html'"
                         data-ng-init="index = 1"></div>
                </div>
            </div>
            <div id="contentPodInfo-4" class="info-panel" data-ng-if="showPage[0]">
                <div class="content-page row rowMargin info-details"
                     data-ng-controller="PodCtrl"
                     data-ng-init="initPod(0)">
                    <div class="col-lg-offset-2 col-lg-8 col-md-12 col-sm-12 col-xs-12"
                         data-ng-cloak="true"
                         data-ng-include="'/ContentPanels/Partials/' + pods[0].template"></div>
                </div>
            </div>
            <div id="contentPodInfo-5" class="info-panel" data-ng-if="showPage[1]">
                <div class="content-page row rowMargin info-details"
                     data-ng-controller="PodCtrl"
                     data-ng-init="initPod(1)">
                    <div class="col-lg-offset-2 col-lg-8 col-md-12 col-sm-12 col-xs-12"
                         data-ng-cloak="true"
                         data-ng-include="'/ContentPanels/Partials/' + pods[1].template"></div>
                </div>
            </div>
            <hr class="col-lg-offset-1 col-lg-10">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 pod-3 js-clickable"
                     data-ng-click="setPageActive(2, 6);"
                     data-ng-class="{'active': active[2]}">
                    <div data-ng-controller="PanelCtrl"
                         data-ng-include="'/ContentPanels/Partials/Panel.html'"
                         data-ng-init="index = 2"></div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 pod-4 js-clickable"
                     data-ng-click="setPageActive(3, 7);"
                     data-ng-class="{'active': active[3]}">
                    <div data-ng-controller="PanelCtrl"
                         data-ng-include="'/ContentPanels/Partials/Panel.html'"
                         data-ng-init="index = 3"></div>
                </div>
            </div>
            <div id="contentPodInfo-6" class="info-panel" data-ng-if="showPage[2]">
                <div class="content-page row rowMargin info-details"
                     data-ng-controller="PodCtrl"
                     data-ng-init="initPod(2)">
                    <div class="col-lg-offset-2 col-lg-8 col-md-12 col-sm-12 col-xs-12"
                         data-ng-cloak="true"
                         data-ng-include="'/ContentPanels/Partials/' + pods[2].template"></div>
                </div>
            </div>
            <div id="contentPodInfo-7" class="info-panel" data-ng-if="showPage[3]">
                <div class="content-page row rowMargin info-details"
                     data-ng-controller="PodCtrl"
                     data-ng-init="initPod(3)">
                    <div class="col-lg-offset-2 col-lg-8 col-md-12 col-sm-12 col-xs-12"
                         data-ng-cloak="true"
                         data-ng-include="'/ContentPanels/Partials/' + pods[3].template"></div>
                </div>
            </div>
        </div>
        <!-- end med/sm -->
        <!-- xs -->
        <div class="visible-xs">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 pod-1 js-clickable"
                     data-ng-click="setPageActive(0, 8);"
                     data-ng-class="{'active': active[0]}">
                    <div data-ng-controller="PanelCtrl"
                         data-ng-include="'/ContentPanels/Partials/Panel.html'"
                         data-ng-init="index = 0"></div>
                </div>
            </div>
            <div id="contentPodInfo-8" class="info-panel" data-ng-if="showPage[0]">
                <div class="content-page row rowMargin info-details"
                     data-ng-controller="PodCtrl"
                     data-ng-init="initPod(0)">
                    <div class="col-lg-offset-2 col-lg-8 col-md-12 col-sm-12 col-xs-12"
                         data-ng-cloak="true"
                         data-ng-include="'/ContentPanels/Partials/' + pods[0].template"></div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 pod-2 js-clickable"
                     data-ng-click="setPageActive(1, 9);"
                     data-ng-class="{'active': active[1]}">
                    <div data-ng-controller="PanelCtrl"
                         data-ng-include="'/ContentPanels/Partials/Panel.html'"
                         data-ng-init="index = 1"></div>
                </div>
            </div>
            <div id="contentPodInfo-9" class="info-panel" data-ng-if="showPage[1]">
                <div class="content-page row rowMargin info-details"
                     data-ng-controller="PodCtrl"
                     data-ng-init="initPod(1)">
                    <div class="col-lg-offset-2 col-lg-8 col-md-12 col-sm-12 col-xs-12"
                         data-ng-cloak="true"
                         data-ng-include="'/ContentPanels/Partials/' + pods[1].template"></div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 pod-3 js-clickable"
                     data-ng-click="setPageActive(2, 10);"
                     data-ng-class="{'active': active[2]}">
                    <div data-ng-controller="PanelCtrl"
                         data-ng-include="'/ContentPanels/Partials/Panel.html'"
                         data-ng-init="index = 2"></div>
                </div>
            </div>
            <div id="contentPodInfo-10" class="info-panel" data-ng-if="showPage[2]">
                <div class="content-page row rowMargin info-details"
                     data-ng-controller="PodCtrl"
                     data-ng-init="initPod(2)">
                    <div class="col-lg-offset-2 col-lg-8 col-md-12 col-sm-12 col-xs-12"
                         data-ng-cloak="true"
                         data-ng-include="'/ContentPanels/Partials/' + pods[2].template"></div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 pod-4 js-clickable"
                     data-ng-click="setPageActive(3, 11);"
                     data-ng-class="{'active': active[3]}">
                    <div data-ng-controller="PanelCtrl"
                         data-ng-include="'/ContentPanels/Partials/Panel.html'"
                         data-ng-init="index = 3">
                    </div>
                </div>
            </div>
            <div id="contentPodInfo-11" class="info-panel" data-ng-if="showPage[3]">
                <div class="content-page row rowMargin info-details"
                     data-ng-controller="PodCtrl"
                     data-ng-init="initPod(3)">
                    <div class="col-lg-offset-2 col-lg-8 col-md-12 col-sm-12 col-xs-12"
                         data-ng-cloak="true"
                         data-ng-include="'/ContentPanels/Partials/' + pods[3].template"></div>
                </div>
            </div>
            <hr />
        </div>
        <!-- end xs -->
    </div>
</div>