    <div class="row rowMargin">
        <p data-ng-cloak="true" data-ng-bind-html="mainText"></p>
    </div>
    <div class="row rowMargin icon-and-text">
        <div data-ng-controller="IconTextCtrl" data-ng-include="'/ContentPanels/Partials/IconWithText.html'" data-ng-init="iconIndex = 0;"></div>
    </div>
    <div class="row rowMargin icon-and-text">
        <div data-ng-controller="IconTextCtrl" data-ng-include="'/ContentPanels/Partials/IconWithText.html'" data-ng-init="iconIndex = 1;"></div>
    </div>
    <div class="row rowMargin icon-and-text">
        <div data-ng-controller="IconTextCtrl" data-ng-include="'/ContentPanels/Partials/IconWithText.html'" data-ng-init="iconIndex = 2;"></div>
    </div>