@{
    ViewBag.Title = "Home Page";
}

<table id="test-list" class="table">
    <caption> </caption>
    <thead>
        <tr>
            <th>Test Name</th>
            <th>Total Time</th>
            <th>Passed</th>
            <th>Failed</th>
        </tr>
    </thead>

</table>