<div class="row rowMargin">
    <p data-ng-cloak="true" data-ng-bind-html="pod.mainText"></p>
</div>
<div class="row rowMargin icon-and-text">
    <div data-ng-controller="iconTextController as icon" data-ng-include="'/Content/Partials/ContentPanels/IconWithText.html'" data-ng-init="icon.iconIndex = 0;"></div>
</div>
<div class="row rowMargin icon-and-text">
    <div data-ng-controller="iconTextController as icon" data-ng-include="'/Content/Partials/ContentPanels/IconWithText.html'" data-ng-init="icon.iconIndex = 1;"></div>
</div>
<div class="row rowMargin icon-and-text">
    <div data-ng-controller="iconTextController as icon" data-ng-include="'/Content/Partials/ContentPanels/IconWithText.html'" data-ng-init="icon.iconIndex = 2;"></div>
</div>